@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.aboutSeaGlobalFx {
    padding: 80px 0;

    @include respond-to("sm") {
        padding: 60px 0;
    }



    .grid {
        display: grid;
        grid-template-columns: 1fr 635px;
        gap: 60px;
        align-items: center;

        @include respond-to("md") {
            grid-template-columns: 1fr;
        }

        @include respond-to("sm") {
            gap: 40px;
        }

        .griditems:first-child {
            @include respond-to("sm") {
                order: 2;
            }
        }

        p {
            @include font-normal;
            color: var(--Dark-Body, #747474);
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 105%;
            margin: 0 0 20px 0;

            @include respond-to("sm") {
                @include font16;
            }
        }

        h2 {
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 105%;
            background: var(--Hero-Text, linear-gradient(93deg, #252525 0%, #4E4E4E 24.34%, #4E4E4E 52.49%, #4E4E4E 71.46%, #252525 99.25%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @include heading-semibold;
            margin: 0 0 8px 0;

            @include respond-to("sm") {
                @include heading-30;
            }

            span {
                background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}