@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.herobanner {
    background-image: url('/assets/images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100dvh;

    @include respond-to("md") {
        height: auto;
        padding: 120px 0 0 0;
    }

    .leftAlignment {
        padding-left: max(20px, (100vw - 1340px) / 2);

        @include respond-to("md") {
            padding: 0 20px;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 643px;
        gap: 20px;
        height: 100dvh;

        @include respond-to("md") {
            height: auto;
            grid-template-columns: 1fr;
        }

        .griditems:first-child {
            display: flex;
            align-items: center;
        }

        .griditems {
            height: 100%;

            .image {
                display: flex;
                align-items: flex-end;
                height: 100%;

                video,
                img {
                    display: block;
                    width: 100%;
                    pointer-events: none;

                    @include respond-to("md") {
                        max-width: 60%;
                    }

                    @include respond-to("sm") {
                        max-width: 100%;
                    }
                }
            }

            p {
                color: #555;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 105%;
                max-width: 464px;
                margin: 0 0 20px 0;
                @include font-normal;

                @include respond-to("sm") {
                    @include font16;
                }
            }

            .twoButtonalignment {
                display: flex;
                align-items: center;
                gap: 16px;

                @include respond-to("sm") {
                    justify-content: center;
                }


                button {
                    border: none;
                    padding: 4px 16px 4px 4px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border-radius: 48px;
                    color: #FFF;
                    font-size: 16px;
                    font-style: normal;
                    cursor: pointer;
                    font-weight: 600;
                    line-height: normal;
                    @include font-semibold;
                    transition: .3s ease-in-out;

                    &:hover {
                        transform: scale(1.05) !important;
                    }

                    @include respond-to("sm") {
                        font-size: 14px;
                    }

                    img {
                        @include respond-to("sm") {
                            max-width: 35px;
                        }
                    }


                    &.orange {
                        background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));

                        &:hover {
                            background-position: 100% 50%;
                            background: var(--Primary, linear-gradient(90deg, #B07A09 10%, #E8BC33 100%));

                        }
                    }

                    &.black {
                        background: #252525;

                        &:hover {
                            opacity: .9 !important;
                        }
                    }
                }
            }

            h1 {
                font-size: 56px;
                font-style: normal;
                font-weight: 600;
                line-height: 105%;
                max-width: 714px;
                background: var(--Hero-Text, linear-gradient(93deg, #252525 0%, #4E4E4E 24.34%, #4E4E4E 52.49%, #4E4E4E 71.46%, #252525 99.25%));
                background-clip: text;
                -webkit-background-clip: text;
                margin: 0 0 20px 0;
                -webkit-text-fill-color: transparent;
                @include heading-semibold;

                @include respond-to("sm") {
                    @include heading-30;
                    margin: 0 0 16px 0;
                }

                span {
                    background: linear-gradient(90deg, #DAA71D 0%, #AE7708 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            .tagline {
                padding: 0 0 20px 0;

                button {
                    position: relative;
                    border: none;
                    border-radius: 50px;
                    border: 1px solid none;
                    background: rgba(255, 255, 255, 0.24);
                    padding: 10px 16px;
                    color: #252525;
                    text-align: center;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 105%;
                    text-transform: capitalize;
                    @include font-normal;

                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        border-radius: 24px;
                        padding: 1px;
                        background: linear-gradient(180deg, rgba(48, 48, 48, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
                        -webkit-mask:
                            linear-gradient(#fff 0 0) content-box,
                            linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                        mask-composite: exclude;
                        pointer-events: none;
                        transition: .3s ease-in-out;
                    }
                }
            }
        }
    }
}