@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.professionalTrading {
    background-color: #F1F1F1;
    padding: 110px 0;

    @include respond-to("sm") {
        padding: 60px 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 700px;
        gap: 80px;
        align-items: center;

        @include respond-to("md") {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        .griditems:first-child {
            @include respond-to("md") {
                order: 2;
            }
        }

        .image {
            @include respond-to("sm") {
                display: flex;
                justify-content: center;
            }

            img {
                width: 100%;
                display: block;

                @include respond-to("md") {
                    max-width: 60%;
                }

                @include respond-to("sm") {
                    max-width: 90%;
                }
            }
        }

        .cardGrid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 24px;
            max-width: 500px;

            @include respond-to("sm") {
                grid-template-columns: 1fr;
            }

            .cardGridItems {
                border-radius: 24px;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.00) 100%);
                padding: 28px 22px;

                h3 {
                    color: #252525;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 105%;
                    @include font-normal;
                    margin: 0 0 12px 0;
                    max-width: 190px;

                    @include respond-to("sm") {
                        max-width: 100%;
                    }
                }

                p {
                    color: var(--Dark-Body, #747474);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 105%;
                    @include font-normal;
                }
            }
        }

        .text {
            padding: 0 0 32px 0;

            p {
                color: var(--Dark-Body, #747474);
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 105%;
                @include font-normal;

                @include respond-to("sm") {
                    @include font16;
                }
            }

            h2 {
                font-size: 48px;
                margin: 0 0 8px 0;
                font-style: normal;
                font-weight: 600;
                line-height: 105%;
                @include heading-semibold;
                background: var(--Hero-Text, linear-gradient(93deg, #252525 0%, #4E4E4E 24.34%, #4E4E4E 52.49%, #4E4E4E 71.46%, #252525 99.25%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                @include respond-to("sm") {
                    @include heading-30;
                }

                span {
                    background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}