@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.accountTypesAlignment {
    background: #141414;
    padding: 100px 0;
    position: relative;

    @include respond-to("sm") {
        padding: 60px 0;
    }

    .blackLayer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        img {
            width: 100%;
            display: block;
        }
    }

    .title {
        padding: 0 0 130px 0;

        @include respond-to("sm") {
            padding: 0 0 30px 0;
        }

        h2 {
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 105%;
            color: #fff;
            text-align: center;
            margin: 0 0 8px 0;
            @include heading-semibold;

            @include respond-to("sm") {
                @include heading-30;
            }

            span {
                background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        p {
            color: var(--Dark-Body, #747474);
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 105%;
            margin: 0 auto;
            max-width: 903px;
            @include font-normal;

            @include respond-to("sm") {
                @include font16;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;

        @include respond-to("md") {
            grid-template-columns: repeat(2, 1fr);
            gap: 60px 24px;
        }

        @include respond-to("sm") {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        .griditems:nth-child(2) {
            .box {
                margin-top: -90px;

                @include respond-to("md") {
                    margin-top: 0;
                }

                .header {
                    background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                }

                .buttongrid {
                    button {
                        background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                    }
                }
            }
        }

        .griditems {
            height: 100%;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            transform-style: preserve-3d;
            will-change: transform;

            .box {
                border-radius: 24px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 41.83%, rgba(255, 255, 255, 0.00) 100%);
                position: relative;
                height: 100%;

                .buttongrid {
                    display: flex;
                    justify-content: center;
                    position: relative;

                    .left {
                        position: absolute;
                        top: 55%;
                        left: 0;
                        transform: translateY(-50%);

                        svg {
                            max-width: 155px;
                        }

                        svg {
                            @include respond-to("sm") {
                                max-width: 140px;
                            }
                        }
                    }

                    .right {
                        position: absolute;
                        top: 55%;
                        right: 0;
                        transform: translateY(-50%);

                        svg {
                            max-width: 155px;
                        }

                        svg {
                            @include respond-to("sm") {
                                max-width: 140px;
                            }
                        }
                    }

                    button {
                        border: none;
                        padding: 4px 16px 4px 4px;
                        color: #252525;
                        justify-content: center;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size: 16px;
                        font-style: normal;
                        border-radius: 48px;
                        background: #fff;
                        font-weight: 600;
                        line-height: normal;
                        @include font-semibold;
                    }
                }

                .contnet {
                    padding: 20px 32px;

                    @include respond-to("sm") {
                        padding: 20px 16px;
                    }

                    .allTextStyle {
                        padding: 24px 0 0 0;

                        @include respond-to("sm") {
                            padding: 16px 0 0 0;
                        }

                        .text {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            position: relative;
                            padding: 0 0 20px 0;

                            @include respond-to("sm") {
                                padding: 0 0 14px 0;
                            }

                            p {
                                color: var(--Dark-Body, #747474);
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 105%;
                                @include font-normal;

                                @include respond-to("sm") {
                                    @include font18;
                                }
                            }

                            span {
                                display: block;
                                color: var(--Black-Body, #fff);
                                text-align: right;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 105%;
                                @include font-semibold;

                                @include respond-to("sm") {
                                    @include font16;
                                }
                            }
                        }
                    }

                    .details {
                        padding: 0 0 24px 0;
                        border-bottom: 1px solid #747474;

                        @include respond-to("sm") {
                            padding: 0 0 16px 0;
                        }

                        p {
                            color: var(--Dark-Body, #747474);
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 105%;
                            @include font-normal;
                        }
                    }


                }

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    border-radius: 24px;
                    border-radius: inherit;
                    padding: 1px;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
                    -webkit-mask:
                        linear-gradient(#fff 0 0) content-box,
                        linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                    pointer-events: none;
                    transition: .3s ease-in-out;
                }

                .header {
                    background: #595959;
                    padding: 24px;
                    border-radius: 24px 24px 0 0;
                    transition: transform 0.3s ease;
                    will-change: transform;

                    @include respond-to("sm") {
                        padding: 16px;
                    }

                    h3 {
                        color: #FFF;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 105%;
                        @include heading-semibold;
                        text-align: center;

                        @include respond-to("sm") {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}