@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.tradeAndAchieveList {
    background: #F1F1F1;
    padding: 100px 0 0 0;

    @include respond-to("sm") {
        padding: 60px 0 0 0;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 0 60px 0;
        gap: 16px;

        @include respond-to("md") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to("sm") {
            grid-template-columns: repeat(1, 1fr);
            padding: 0 0 16px 0;
        }

        .griditems {
            border-radius: 24px;
            border: 1px solid #FFF;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.00) 100%);
            padding: 28px 22px;

            svg {
                path {
                    stroke: #252525;
                }
            }

            h3 {
                margin: 12px 0 10px 0;
                color: #252525;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 105%;
                @include font-semibold;
            }

            p {
                color: #252525;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 105%;
                @include font-normal;
            }
        }
    }

    .teramBox {
        border-radius: 18px;
        background: rgba(12, 12, 12, 0.10);
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &:hover {
            &::before {
                background: linear-gradient(240deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);

            }
        }

        img {
            display: block;
            cursor: pointer;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 24px;
            border-radius: inherit;
            padding: 1px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
            transition: .3s ease-in-out;
        }

        h2 {
            color: var(--Black-Body, #252525);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @include font-medium;
        }
    }
}