@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.trustedbyTraders {
    padding: 100px 0 100px 0;

    @include respond-to("sm") {
        padding: 60px 0;
    }

    .title {
        padding: 0 0 90px 0;

        @include respond-to("sm") {
            padding: 0 0 30px 0;
        }

        h2 {
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 105%;
            @include heading-semibold;
            background: var(--Hero-Text, linear-gradient(93deg, #252525 0%, #4E4E4E 24.34%, #4E4E4E 52.49%, #4E4E4E 71.46%, #252525 99.25%));
            background-clip: text;
            -webkit-background-clip: text;
            text-align: center;
            -webkit-text-fill-color: transparent;
            margin: 0 0 8px 0;

            @include respond-to("sm") {
                @include heading-30;
            }

            span {
                background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        p {
            color: var(--Dark-Body, #747474);
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 105%;
            @include font-normal;
            max-width: 999px;
            margin: 0 auto;

            @include respond-to("sm") {
                @include font16;
            }
        }
    }

    :global(.swiper-slide-active) {
        .box {
            transform: scale(1.2);

            @include respond-to("sm") {
                transform: scale(1.04);
            }
        }
    }

    :global(.swiper) {
        padding: 30px 0;

        @include respond-to("sm") {
            padding: 20px 0;
        }
    }

    .box {
        border-radius: 24px;
        background: #FFF;
        position: relative;
        padding: 28px;
        overflow: hidden;
        transition: .3s ease-in-out;

        @include respond-to("sm") {
            padding: 14px;
            border-radius: 12px;
        }


        img[alt="QuoteIcon"] {
            @include respond-to("sm") {
                max-width: 30px;
            }
        }

        .textgrid {
            display: grid;
            gap: 24px;
            grid-template-columns: 1px 1fr;

            @include respond-to("sm") {
                gap: 16px;
            }

            .line {
                width: 100%;
                background: linear-gradient(90deg, #E8BC33 10%, #B07A09 100%);
                height: 100%;
            }

            .content {
                p {
                    margin: 24px 0 16px 0;
                    color: var(--Dark-Body, #747474);
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    @include font-normal;

                    @include respond-to("sm") {
                        font-size: 14px;
                        line-height: 21px;
                        margin: 10px 0 14px 0;
                    }
                }

                .profile {
                    display: grid;
                    grid-template-columns: 60px 1fr;
                    gap: 13px;
                    align-items: center;

                    @include respond-to("sm") {
                        grid-template-columns: 40px 1fr;
                    }

                    .profileImage {
                        width: 60px;
                        height: 60px;
                        background-color: #D9D9D9;
                        border-radius: 50%;

                        @include respond-to("sm") {
                            width: 40px;
                            height: 40px;
                        }
                    }

                    h4 {
                        color: var(--Dark-Body, #747474);
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 600;
                        @include font-semibold;
                        line-height: 105%;
                        margin: 0 0 4px 0;

                        @include respond-to("sm") {
                            @include font16;
                        }
                    }

                    span {
                        display: block;
                        color: var(--Dark-Body, #747474);
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 105%;
                        @include font-normal;

                        @include respond-to("sm") {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 24px;
            padding: 1px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(102, 102, 102, 0) 100%);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
            transition: .3s ease-in-out;

            @include respond-to("sm") {
                border-radius: 12px;
            }
        }
    }
}