@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;



.howPammTrading {
    padding: 90px 0;

    @include respond-to("sm") {
        padding: 60px 0;
    }

    :global(.container-xs) {
        @include respond-to("sm") {
            padding: 0;
        }
    }

    .title {
        padding: 0 0 32px 0;

        @include respond-to("sm") {
            padding: 0 20px 30px 20px;
        }

        h2 {
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 105%;
            @include heading-semibold;
            background: var(--Hero-Text, linear-gradient(93deg, #252525 0%, #4E4E4E 24.34%, #4E4E4E 52.49%, #4E4E4E 71.46%, #252525 99.25%));
            background-clip: text;
            -webkit-background-clip: text;
            text-align: center;
            -webkit-text-fill-color: transparent;

            @include respond-to("sm") {
                @include heading-30;
            }

            span {
                background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        @include respond-to("md") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to("sm") {
            display: flex;
            overflow: auto;
            padding: 0 20px;
            scrollbar-width: none;
            gap: 20px;
        }

        .griditems {
            border-radius: 24px;
            background: #F1F1F1;
            padding: 24px 24px 10px 24px;
            position: relative;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            transform-style: preserve-3d;
            transform: perspective(1000px) rotateX(0) rotateY(0);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 24px;

            @include respond-to("sm") {
                width: 290px;
                min-width: 290px;
                max-width: 290px;
            }

            &:hover {
                &::before {
                    background: linear-gradient(240deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);

                }
            }

            @include respond-to("sm") {
                padding: 24px 24px 0 24px;
            }

            .counter {
                border-radius: 50px;
                background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                width: 45px;
                height: 45px;
                display: flex;
                align-items: center;
                color: #FFF;
                text-align: center;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 105%;
                @include font-semibold;
                margin: 0 0 12px 0;
                justify-content: center;
            }

            h3 {
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 105%;
                @include font-medium;
                background: var(--Hero-Text, linear-gradient(93deg, #252525 0%, #4E4E4E 24.34%, #4E4E4E 52.49%, #4E4E4E 71.46%, #252525 99.25%));
                background-clip: text;
                -webkit-background-clip: text;
                display: inline;
                -webkit-text-fill-color: transparent;

                @include respond-to("sm") {
                    font-size: 20px;
                }
            }

            .iconRight {
                display: flex;
                justify-content: flex-end;

                img {
                    display: block;
                }
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 24px;
                border-radius: inherit;
                padding: 1px;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                pointer-events: none;
                transition: .3s ease-in-out;
            }
        }
    }

    .buttonCenter {
        display: flex;
        justify-content: center;
        padding: 32px 0 0 0;

        button {
            border: none;
            cursor: pointer;
            padding: 4px 16px 4px 4px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            border-radius: 48px;
            background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
            line-height: normal;
            @include font-semibold;
            color: #fff;
            transition: .3s ease-in-out;

            &:hover {
                transform: scale(1.05);
                background: var(--Primary, linear-gradient(90deg, #B07A09 10%, #E8BC33 100%));

            }

            img {
                display: block;
            }
        }
    }
}