@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.whySeaGlobal {
    background: #141414;
    padding: 100px 0 0 0;

    @include respond-to("sm") {
        padding: 60px 0 0 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 496px 1fr;
        gap: 38px;
        align-items: flex-end;

        @include respond-to("md") {
            grid-template-columns: 1fr;
        }

        @include respond-to("sm") {
            gap: 40px;
        }

        .image {
            @include respond-to("md") {
                display: flex;
                justify-content: center;
            }

            img {
                display: block;

                @include respond-to("sm") {
                    width: 100%;
                }
            }
        }

        .griditems:first-child {
            @include respond-to("sm") {
                order: 2;
            }
        }

        .griditems {
            .boxGrid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 24px;
                padding: 0 0 100px 0;

                @include respond-to("sm") {
                    padding: 0;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 20px;
                }

                .items {
                    border-radius: 24px;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
                    padding: 34px 24px 24px 24px;
                    position: relative;

                    h3 {
                        color: #F5F5F5;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 105%;
                        margin: 0 0 12px 0;
                        @include heading-normal;

                        @include respond-to("sm") {
                            @include font18;
                            margin: 0 0 10px 0;
                        }
                    }

                    p {
                        @include font-normal;
                        color: var(--Dark-Body, #747474);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 105%;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        border-radius: 24px;
                        padding: 1px;
                        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
                        -webkit-mask:
                            linear-gradient(#fff 0 0) content-box,
                            linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                        mask-composite: exclude;
                        pointer-events: none;
                        transition: .3s ease-in-out;
                    }
                }
            }

            h2 {
                font-size: 48px;
                font-style: normal;
                font-weight: 600;
                line-height: 105%;
                @include heading-semibold;
                background: linear-gradient(93deg, #FFF 0%, #F1F1F1 24.34%, #DDD 52.49%, #F1F1F1 71.46%, #FFF 99.25%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0 0 32px 0;

                @include respond-to("sm") {
                    @include heading-30;
                    text-align: center;
                    margin: 0 0 30px 0;
                }

                span {
                    background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}