@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/font/font.scss' as *;

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .headerAlignment {
        border-radius: 0 0 32px 32px;
        border-bottom: 1px solid #FFF;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.30) 100%);
        box-shadow: 0 -20px 10px 0 rgba(255, 255, 255, 0.25) inset;
        backdrop-filter: blur(24px);
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .mobileMenu {
            display: none;

            @include respond-to("md") {
                display: block;
            }

            svg {
                width: 26px;
                height: 26px;

                @include respond-to("sm") {
                    width: 24px;
                    height: 24px;
                }

                path {
                    fill: #141414;
                }
            }
        }

        .menu {
            display: flex;
            align-items: center;
            gap: 24px;

            .menuItems {
                display: flex;
                align-items: center;
                gap: 24px;

                @include respond-to("md") {
                    display: none;
                }
            }

            a {
                color: #353535;
                font-size: 16px;
                font-weight: 500;
                line-height: normal;
                display: block;
                cursor: pointer;
                @include font-medium;
                transition: .3s ease-in-out;

                &.active {
                    background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                &:hover {
                    background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            .button {
                @include respond-to("sm") {
                    display: none;
                }
            }

            button {
                color: #000;
                @include font-medium;
                font-size: 16px;
                cursor: pointer;
                font-style: normal;
                font-weight: 500;
                border-radius: 48px;
                border: none;
                position: relative;
                display: flex;
                align-items: center;
                gap: 10px;
                background: rgba(0, 0, 0, 0.10);
                line-height: normal;
                padding: 4px 16px 4px 4px;

                &::before {
                    content: "";
                    pointer-events: none;
                    background: linear-gradient(180deg, #303030 0%, rgba(0, 0, 0, 0) 100%);
                    border-radius: 24px;
                    padding: 1px;
                    transition: all .3s ease-in-out;
                    position: absolute;
                    inset: 0;
                    -webkit-mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
                    -webkit-mask-repeat: repeat, repeat;
                    -webkit-mask-clip: content-box, border-box;
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                    -webkit-mask-source-type: auto, auto;
                    mask-mode: match-source, match-source;
                }
            }
        }

        .logo {
            img {
                display: block;
                cursor: pointer;

                @include respond-to("sm") {
                    max-width: 160px;
                }
            }
        }
    }
}