@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/font/font.scss' as *;

.header {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .headerAlignment {
        border-radius: 0 0 32px 32px;
        border-bottom: 1px solid #FFF;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.30) 100%);
        box-shadow: 0 -20px 10px 0 rgba(255, 255, 255, 0.25) inset;
        backdrop-filter: blur(24px);
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .dropdownMenu {
            position: relative;

            &:hover {
                .dropdown {
                    max-height: 100vh;
                    overflow: hidden;
                    transition: .3s ease-in-out;
                }
            }

            .dropdown {
                position: absolute;
                left: -50%;
                width: 145px;
                top: 40px;
                background-color: #fff;
                border-radius: 16px;
                max-height: 0px;
                overflow: hidden;
                transition: .3s ease-in-out;

                &.dropdownSizeLg {
                    width: 175px;
                }

                .dropdownSpacing {
                    padding: 20px;

                    a:last-child {
                        padding: 0;
                    }

                    a {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 100%;
                        @include font-medium;
                        color: #353535;
                        padding: 0 0 16px 0;
                        transition: .3s ease-in-out;

                        &.active {
                            background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }

                        &:hover {
                            background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
        }

        .mobileMenu {
            display: none;

            @include respond-to("md") {
                display: block;
            }

            svg {
                width: 26px;
                height: 26px;

                @include respond-to("sm") {
                    width: 24px;
                    height: 24px;
                }

                path {
                    fill: #141414;
                }
            }
        }

        .menu {
            display: flex;
            align-items: center;
            gap: 24px;

            .menuSpacing {
                padding: 10px 0;
            }

            .menuItems {
                display: flex;
                align-items: center;
                gap: 24px;

                @include respond-to("md") {
                    display: none;
                }
            }

            a {
                color: #353535;
                font-size: 16px;
                font-weight: 500;
                line-height: normal;
                display: block;
                cursor: pointer;
                @include font-medium;
                transition: .3s ease-in-out;

                &.active {
                    background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                &:hover {
                    background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            .button {
                @include respond-to("sm") {
                    display: none;
                }

                a {

                    background: transparent;
                    -webkit-text-fill-color: inherit;
                    -webkit-background-clip: initial;
                    background-clip: inherit;
                }
            }

            button {
                color: #000;
                @include font-medium;
                font-size: 16px;
                cursor: pointer;
                font-style: normal;
                font-weight: 500;
                border-radius: 48px;
                border: none;
                position: relative;
                display: flex;
                align-items: center;
                gap: 10px;
                background: rgba(0, 0, 0, 0.10);
                line-height: normal;
                padding: 4px 16px 4px 4px;

                &:hover {
                    span {
                        transform: translateX(-100%);
                    }

                    img {
                        transform: translateX(150%);
                    }
                }

                span,
                img {
                    transition: .3s ease-in-out;
                    display: block;
                }




                &::before {
                    content: "";
                    pointer-events: none;
                    background: linear-gradient(180deg, #303030 0%, rgba(0, 0, 0, 0) 100%);
                    border-radius: 24px;
                    padding: 1px;
                    transition: all .3s ease-in-out;
                    position: absolute;
                    inset: 0;
                    -webkit-mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
                    -webkit-mask-repeat: repeat, repeat;
                    -webkit-mask-clip: content-box, border-box;
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                    -webkit-mask-source-type: auto, auto;
                    mask-mode: match-source, match-source;
                }
            }
        }

        .logo {
            img {
                display: block;
                cursor: pointer;
                max-width: 198px;

                @include respond-to("sm") {
                    max-width: 160px;
                }
            }
        }
    }
}

.mobileHeader {
    background-color: #141414;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    &.hide {
        transform: translateX(100%);
        transition: .3s ease-in-out;
    }

    &.show {
        transform: translateX(0%);
        transition: .3s ease-in-out;
    }

    .headerFooter {
        padding: 20px;
        border-top: 1px solid #5b5b5b;

        a {
            background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
            display: block;
            border: none;
            padding: 16px;
            justify-content: center;
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 48px;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            cursor: pointer;
            font-weight: 600;
            line-height: normal;
            @include font-semibold;
            transition: .3s ease-in-out;
        }

    }

    .headerBody {
        padding: 40px 20px;
        height: calc(100dvh - 160px);
        overflow: auto;

        .submenu {
            .space {
                padding-bottom: 40px;
                padding-left: 20px;
            }

            &.hide {
                max-height: 0px;
                overflow: hidden;
                transition: .3s ease-in-out;
            }

            &.show {
                max-height: 100vh;
                overflow: hidden;
                transition: .3s ease-in-out;
            }

            a {
                padding: 0 0 20px 0;
                opacity: .5;
                display: block;
                font-size: 18px;
                @include font-medium;
                color: #fff;
                transition: .3s ease-in-out;

                &.active {
                    opacity: 1;
                }
            }

            a:last-child {
                padding: 0;
            }
        }

        .menuIconAlignment {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0 40px 0;

            a {
                display: block;
                font-size: 26px;
                @include font-medium;
                color: #fff;
            }

            .icon {
                display: flex;
                align-items: center;

                &.rotate {
                    svg {
                        transform: rotate(180deg);
                    }
                }

                svg {
                    cursor: pointer;
                    width: 26px;
                    height: 26px;
                    transition: .3s ease-in-out;

                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }

    .smallHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;
        border-bottom: 1px solid #5b5b5b;


        .close {
            display: flex;
            align-items: center;

            svg {
                width: 22px;
                height: 22px;
                cursor: pointer;

                path {
                    fill: #fff;
                }
            }
        }

        .logo {
            img {
                display: block;
                cursor: pointer;
                max-width: 160px;
            }
        }
    }
}