@use "sass:map";

$breakpoints: (
    "sm": 568px,
    "tab": 768px,
    "md": 1024px,
    "xl": 1600px,
    "lg": 1200px,
);

@mixin respond-to($breakpoint) {
    @if map.has-key($breakpoints, $breakpoint) {
        @media (max-width: map.get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @error "Unknown breakpoint: #{$breakpoint}";
    }
}