@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.whyPartner {
    padding: 100px 0;
    background: #141414;
    position: relative;

    @include respond-to("sm") {
        padding: 60px 0;
    }

    .blacklayer {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        img {
            width: 100%;
            display: block;
        }
    }

    .title {
        padding: 0 0 32px 0;

        h2 {
            color: #FFF;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 105%;
            @include heading-semibold;
            text-align: center;

            @include respond-to("sm") {
                @include heading-30;
            }

            span {
                background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        @include respond-to("md") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to("sm") {
            grid-template-columns: repeat(1, 1fr);
        }


        .griditems {
            border-radius: 24px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
            backdrop-filter: blur(10px);
            padding: 24px;
            position: relative;

            .iconCenter {
                display: flex;
                justify-content: center;
                padding: 0 0 18px 0;

                img {
                    display: block;
                }
            }

            p {
                color: #FFF;
                text-align: center;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 105%;
                @include font-medium;
                text-transform: capitalize;
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 24px;
                padding: 1px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                pointer-events: none;
                transition: .3s ease-in-out;
            }

            &:hover {
                &::before {
                    background: linear-gradient(320deg, rgba(255, 255, 255, 0.7) 0%, rgba(0, 0, 0, 0) 100%);

                }
            }
        }
    }
}