@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.waysToReachSectionAlignment {
    padding: 100px 0;
    background: #141414;
    position: relative;

    @include respond-to("sm") {
        padding: 60px 0;
    }

    .blacklayer {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        img {
            width: 100%;
            display: block;
        }
    }

    h2 {
        background: linear-gradient(93deg, #FFF 0%, #F1F1F1 24.34%, #DDD 52.49%, #F1F1F1 71.46%, #FFF 99.25%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        position: relative;
        line-height: 105%;
        text-align: center;
        margin: 0 0 32px 0;
        @include heading-semibold;

        @include respond-to("sm") {
            @include heading-30;
        }

        span {
            background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }

    .grid {
        max-width: 1052px;
        margin: 0 auto;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 256px 1fr;
        gap: 24px;

        @include respond-to("sm") {
            gap: 40px;
            grid-template-columns: 1fr;
        }

        .items {
            border-radius: 24px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
            padding: 34px 24px 24px 24px;
            position: relative;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            transform-style: preserve-3d;
            transform: perspective(1000px) rotateX(0) rotateY(0);

            &:hover {
                &::before {
                    background: linear-gradient(320deg, rgba(255, 255, 255, 0.7) 0%, rgba(0, 0, 0, 0) 100%);

                }
            }

            .iconCenter {
                display: flex;
                justify-content: center;
                padding: 0 0 22px 0;

                img {
                    display: block;
                }
            }

            a,
            p {
                display: block;
                cursor: pointer;
                color: #FFF;
                font-size: 22px;
                font-style: normal;
                text-align: center;
                font-weight: 400;
                line-height: 105%;
                @include font-normal;

                span {
                    font-size: 18px;
                }
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 24px;
                padding: 1px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                pointer-events: none;
                transition: .3s ease-in-out;
            }
        }
    }
}