@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.achieveRewardsTrade {
    background: #141414;
    position: relative;
    padding: 110px 0;

    @include respond-to("sm") {
        padding: 60px 0;
    }

    .layerBlack {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        img {
            width: 100%;
            display: block;
        }
    }

    .title {
        padding: 0 0 90px 0;

        @include respond-to("sm") {
            padding: 0 0 80px 0;
        }

        h2 {
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 105%;
            @include heading-semibold;
            background: linear-gradient(93deg, #FFF 0%, #F1F1F1 24.34%, #DDD 52.49%, #F1F1F1 71.46%, #FFF 99.25%);
            background-clip: text;
            -webkit-background-clip: text;
            text-align: center;
            -webkit-text-fill-color: transparent;
            margin: 0 0 8px 0;

            @include respond-to("sm") {
                @include heading-30;
            }

            span {
                background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        p {
            color: var(--Dark-Body, #747474);
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 105%;
            @include font-normal;
            max-width: 885px;
            margin: 0 auto;

            @include respond-to("sm") {
                @include font16;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 77px 54px;

        @include respond-to("md") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to("sm") {
            grid-template-columns: repeat(1, 1fr);
            padding: 0 20px;
        }

        .items {
            background: linear-gradient(0deg, #141414 7.87%, #666 157.14%);
            padding: 30px;
            border-radius: 12px;
            height: 290px;
            position: relative;

            .topAlignment {
                position: absolute;
                top: -30px;
                left: 0;
                width: 100%;
                display: flex;
                justify-content: center;

                img {
                    display: block;
                }
            }

            .bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-image: url('/assets/images/bottom-card.png');
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 9;
                width: 100%;
                height: 95px;
                display: flex;
                align-items: center;
                justify-content: center;


                h3 {
                    color: #252525;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 105%;
                    text-transform: capitalize;
                    @include font-semibold;
                    text-align: center;
                    margin: 10px 0 0 0;

                    @include respond-to("sm") {
                        font-size: 20px;
                        margin: 20px 0 0 0;
                    }
                }

                p {

                    color: #FFF;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 105%;
                    text-transform: capitalize;
                    @include font-normal;
                    text-align: center;
                    margin: 4px 0 0 0;

                    @include respond-to("sm") {
                        font-size: 16px;
                        line-height: normal;
                    }
                }
            }

            .image {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                img {
                    display: block;
                    max-width: 156px;
                }
            }
        }
    }
}