@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.blogdetailsBanner {
    padding: 120px 0 0 0;

    .image {
        img {
            display: block;
            border-radius: 24px;
            width: 100%;
        }
    }

    .line {
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, #E8BC33 10%, #B07A09 100%);
    }

    .mainDetails {
        padding: 16px 0 50px 0;

        .subtextAlignment {
            display: flex;
            align-items: center;
            gap: 9px;

            span {
                color: #7D7D7D;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 105%;
                display: block;
                @include font-medium;
            }
        }

        h1 {
            font-size: 34.444px;
            background: var(--Hero-Text, linear-gradient(93deg, #252525 0%, #4E4E4E 24.34%, #4E4E4E 52.49%, #4E4E4E 71.46%, #252525 99.25%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            @include heading-semibold;
        }
    }
}