@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.tableofContents {
    padding: 72px 0;

    .grid {
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 42px;

        .text {
            padding: 0 0 36px 0;

            h2 {
                color: #252525;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                @include font-medium;
                margin: 0 0 12px 0;
            }

            p {
                color: rgba(37, 37, 37, 0.70);
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                @include font-normal;
            }
        }

        .box {
            border-radius: 18px;
            background: #141414;
            padding: 18px;
            position: sticky;
            top: 72px;

            .list {
                padding: 18px 0 0 0;

                ol {
                    margin: 0;
                    padding: 0 0 0 15px;

                    li {
                        color: #FFF;
                        padding: 0 0 16px 0;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        @include font-medium;

                        &:last-child {
                            padding: 0;
                        }
                    }
                }
            }

            .boxHeader {
                padding: 0 0 18px 0;
                border-bottom: 1px solid #3C3C3C;

                h2 {
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    @include font-medium;
                }
            }
        }
    }
}